body {
    margin: 20px;
    font-family: Courier Courier New, Courier, monospace;
}

.avatar {
    width: 150px;
}

img {
    border-radius: 10px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #9ebc9e;
    color: #2b2839;
    border-left: 6px solid #ffafc5;
}
